trunk/PCS/FitnessAcademia/FitnessAcademia/FACliente/Web References/localhostPlano/SrvPlanoTreinamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastMsgError">
        <s:complexType />
      </s:element>
      <s:element name="getLastMsgErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastMsgErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarPlanoTreinamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:PlanoTreinamento" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFinal" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PlanoTreinamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numplano" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjetivoDoPlano" type="tns:Objetivo" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteDoPlano" type="tns:Cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="Exercicios" type="tns:ArrayOfExercicioDoPlano" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Objetivo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataNasc" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumLog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstCivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValExameMedico" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExercicioDoPlano">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExercicioDoPlano" nillable="true" type="tns:ExercicioDoPlano" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExercicioDoPlano">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumPlano" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Seq" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Exercicio" type="tns:Exercicio" />
          <s:element minOccurs="1" maxOccurs="1" name="Series" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumRepeticoes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Exercicio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarPlanoTreinamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarPlanoTreinamentoResult" type="tns:ArrayOfPlanoTreinamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlanoTreinamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlanoTreinamento" nillable="true" type="tns:PlanoTreinamento" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarPlanoTreinamentoEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:PlanoTreinamento" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFinal" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarPlanoTreinamentoExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarPlanoTreinamentoExResult" type="tns:ArrayOfPlanoTreinamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarPlanoTreinamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:PlanoTreinamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarPlanoTreinamentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluirPlanoTreinamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:PlanoTreinamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirPlanoTreinamentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="pegarPlanoTreinamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarPlanoTreinamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarPlanoTreinamentoResult" type="tns:PlanoTreinamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarPlanoTreinamentoEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarPlanoTreinamentoExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarPlanoTreinamentoExResult" type="tns:PlanoTreinamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarClientes">
        <s:complexType />
      </s:element>
      <s:element name="listarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarClientesResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarObjetivos">
        <s:complexType />
      </s:element>
      <s:element name="listarObjetivosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarObjetivosResult" type="tns:ArrayOfObjetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjetivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Objetivo" nillable="true" type="tns:Objetivo" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarExercicios">
        <s:complexType />
      </s:element>
      <s:element name="listarExerciciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarExerciciosResult" type="tns:ArrayOfExercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExercicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Exercicio" nillable="true" type="tns:Exercicio" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getLastMsgErrorSoapIn">
    <wsdl:part name="parameters" element="tns:getLastMsgError" />
  </wsdl:message>
  <wsdl:message name="getLastMsgErrorSoapOut">
    <wsdl:part name="parameters" element="tns:getLastMsgErrorResponse" />
  </wsdl:message>
  <wsdl:message name="consultarPlanoTreinamentoSoapIn">
    <wsdl:part name="parameters" element="tns:consultarPlanoTreinamento" />
  </wsdl:message>
  <wsdl:message name="consultarPlanoTreinamentoSoapOut">
    <wsdl:part name="parameters" element="tns:consultarPlanoTreinamentoResponse" />
  </wsdl:message>
  <wsdl:message name="consultarPlanoTreinamentoExSoapIn">
    <wsdl:part name="parameters" element="tns:consultarPlanoTreinamentoEx" />
  </wsdl:message>
  <wsdl:message name="consultarPlanoTreinamentoExSoapOut">
    <wsdl:part name="parameters" element="tns:consultarPlanoTreinamentoExResponse" />
  </wsdl:message>
  <wsdl:message name="salvarPlanoTreinamentoSoapIn">
    <wsdl:part name="parameters" element="tns:salvarPlanoTreinamento" />
  </wsdl:message>
  <wsdl:message name="salvarPlanoTreinamentoSoapOut">
    <wsdl:part name="parameters" element="tns:salvarPlanoTreinamentoResponse" />
  </wsdl:message>
  <wsdl:message name="excluirPlanoTreinamentoSoapIn">
    <wsdl:part name="parameters" element="tns:excluirPlanoTreinamento" />
  </wsdl:message>
  <wsdl:message name="excluirPlanoTreinamentoSoapOut">
    <wsdl:part name="parameters" element="tns:excluirPlanoTreinamentoResponse" />
  </wsdl:message>
  <wsdl:message name="pegarPlanoTreinamentoSoapIn">
    <wsdl:part name="parameters" element="tns:pegarPlanoTreinamento" />
  </wsdl:message>
  <wsdl:message name="pegarPlanoTreinamentoSoapOut">
    <wsdl:part name="parameters" element="tns:pegarPlanoTreinamentoResponse" />
  </wsdl:message>
  <wsdl:message name="pegarPlanoTreinamentoExSoapIn">
    <wsdl:part name="parameters" element="tns:pegarPlanoTreinamentoEx" />
  </wsdl:message>
  <wsdl:message name="pegarPlanoTreinamentoExSoapOut">
    <wsdl:part name="parameters" element="tns:pegarPlanoTreinamentoExResponse" />
  </wsdl:message>
  <wsdl:message name="listarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:listarClientes" />
  </wsdl:message>
  <wsdl:message name="listarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:listarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="listarObjetivosSoapIn">
    <wsdl:part name="parameters" element="tns:listarObjetivos" />
  </wsdl:message>
  <wsdl:message name="listarObjetivosSoapOut">
    <wsdl:part name="parameters" element="tns:listarObjetivosResponse" />
  </wsdl:message>
  <wsdl:message name="listarExerciciosSoapIn">
    <wsdl:part name="parameters" element="tns:listarExercicios" />
  </wsdl:message>
  <wsdl:message name="listarExerciciosSoapOut">
    <wsdl:part name="parameters" element="tns:listarExerciciosResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastMsgError">
      <wsdl:input message="tns:getLastMsgErrorSoapIn" />
      <wsdl:output message="tns:getLastMsgErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarPlanoTreinamento">
      <wsdl:input message="tns:consultarPlanoTreinamentoSoapIn" />
      <wsdl:output message="tns:consultarPlanoTreinamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarPlanoTreinamentoEx">
      <wsdl:input message="tns:consultarPlanoTreinamentoExSoapIn" />
      <wsdl:output message="tns:consultarPlanoTreinamentoExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="salvarPlanoTreinamento">
      <wsdl:input message="tns:salvarPlanoTreinamentoSoapIn" />
      <wsdl:output message="tns:salvarPlanoTreinamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluirPlanoTreinamento">
      <wsdl:input message="tns:excluirPlanoTreinamentoSoapIn" />
      <wsdl:output message="tns:excluirPlanoTreinamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarPlanoTreinamento">
      <wsdl:input message="tns:pegarPlanoTreinamentoSoapIn" />
      <wsdl:output message="tns:pegarPlanoTreinamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarPlanoTreinamentoEx">
      <wsdl:input message="tns:pegarPlanoTreinamentoExSoapIn" />
      <wsdl:output message="tns:pegarPlanoTreinamentoExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarClientes">
      <wsdl:input message="tns:listarClientesSoapIn" />
      <wsdl:output message="tns:listarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarObjetivos">
      <wsdl:input message="tns:listarObjetivosSoapIn" />
      <wsdl:output message="tns:listarObjetivosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarExercicios">
      <wsdl:input message="tns:listarExerciciosSoapIn" />
      <wsdl:output message="tns:listarExerciciosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMsgError">
      <soap:operation soapAction="http://tempuri.org/getLastMsgError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlanoTreinamento">
      <soap:operation soapAction="http://tempuri.org/consultarPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlanoTreinamentoEx">
      <soap:operation soapAction="http://tempuri.org/consultarPlanoTreinamentoEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarPlanoTreinamento">
      <soap:operation soapAction="http://tempuri.org/salvarPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirPlanoTreinamento">
      <soap:operation soapAction="http://tempuri.org/excluirPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarPlanoTreinamento">
      <soap:operation soapAction="http://tempuri.org/pegarPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarPlanoTreinamentoEx">
      <soap:operation soapAction="http://tempuri.org/pegarPlanoTreinamentoEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarClientes">
      <soap:operation soapAction="http://tempuri.org/listarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarObjetivos">
      <soap:operation soapAction="http://tempuri.org/listarObjetivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarExercicios">
      <soap:operation soapAction="http://tempuri.org/listarExercicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMsgError">
      <soap12:operation soapAction="http://tempuri.org/getLastMsgError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlanoTreinamento">
      <soap12:operation soapAction="http://tempuri.org/consultarPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPlanoTreinamentoEx">
      <soap12:operation soapAction="http://tempuri.org/consultarPlanoTreinamentoEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarPlanoTreinamento">
      <soap12:operation soapAction="http://tempuri.org/salvarPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirPlanoTreinamento">
      <soap12:operation soapAction="http://tempuri.org/excluirPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarPlanoTreinamento">
      <soap12:operation soapAction="http://tempuri.org/pegarPlanoTreinamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarPlanoTreinamentoEx">
      <soap12:operation soapAction="http://tempuri.org/pegarPlanoTreinamentoEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarClientes">
      <soap12:operation soapAction="http://tempuri.org/listarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarObjetivos">
      <soap12:operation soapAction="http://tempuri.org/listarObjetivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarExercicios">
      <soap12:operation soapAction="http://tempuri.org/listarExercicios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:9745/SrvPlanoTreinamento.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:9745/SrvPlanoTreinamento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>