PCS/FitnessAcademia/FitnessAcademia/FACliente/Web References/localhost/SrvFitnessAcademiaGeral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastMsgError">
        <s:complexType />
      </s:element>
      <s:element name="getLastMsgErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastMsgErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarTeste">
        <s:complexType />
      </s:element>
      <s:element name="salvarTesteResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultarExercicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exer" type="tns:Exercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Exercicio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarExercicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarExercicioResult" type="tns:ArrayOfExercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExercicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Exercicio" nillable="true" type="tns:Exercicio" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarExercicioEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exer" type="tns:Exercicio" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarExercicioExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarExercicioExResult" type="tns:ArrayOfExercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarExercicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exer" type="tns:Exercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarExercicioResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluirExercicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exer" type="tns:Exercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirExercicioResponse">
        <s:complexType />
      </s:element>
      <s:element name="pegarExercicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarExercicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarExercicioResult" type="tns:Exercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarExercicioEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarExercicioExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarExercicioExResult" type="tns:Exercicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarObjetivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Objetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Objetivo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarObjetivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarObjetivoResult" type="tns:ArrayOfObjetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjetivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Objetivo" nillable="true" type="tns:Objetivo" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarObjetivoEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Objetivo" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarObjetivoExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarObjetivoExResult" type="tns:ArrayOfObjetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarObjetivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Objetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarObjetivoResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluirObjetivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Objetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirObjetivoResponse">
        <s:complexType />
      </s:element>
      <s:element name="pegarObjetivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarObjetivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarObjetivoResult" type="tns:Objetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarObjetivoEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarObjetivoExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarObjetivoExResult" type="tns:Objetivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataNasc" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumLog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstCivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValExameMedico" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarClienteResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarClienteEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Cliente" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarClienteExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarClienteExResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="salvarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="excluirCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="pegarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarClienteResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarClienteEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toStringBehavior" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pegarClienteExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pegarClienteExResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getLastMsgErrorSoapIn">
    <wsdl:part name="parameters" element="tns:getLastMsgError" />
  </wsdl:message>
  <wsdl:message name="getLastMsgErrorSoapOut">
    <wsdl:part name="parameters" element="tns:getLastMsgErrorResponse" />
  </wsdl:message>
  <wsdl:message name="salvarTesteSoapIn">
    <wsdl:part name="parameters" element="tns:salvarTeste" />
  </wsdl:message>
  <wsdl:message name="salvarTesteSoapOut">
    <wsdl:part name="parameters" element="tns:salvarTesteResponse" />
  </wsdl:message>
  <wsdl:message name="consultarExercicioSoapIn">
    <wsdl:part name="parameters" element="tns:consultarExercicio" />
  </wsdl:message>
  <wsdl:message name="consultarExercicioSoapOut">
    <wsdl:part name="parameters" element="tns:consultarExercicioResponse" />
  </wsdl:message>
  <wsdl:message name="consultarExercicioExSoapIn">
    <wsdl:part name="parameters" element="tns:consultarExercicioEx" />
  </wsdl:message>
  <wsdl:message name="consultarExercicioExSoapOut">
    <wsdl:part name="parameters" element="tns:consultarExercicioExResponse" />
  </wsdl:message>
  <wsdl:message name="salvarExercicioSoapIn">
    <wsdl:part name="parameters" element="tns:salvarExercicio" />
  </wsdl:message>
  <wsdl:message name="salvarExercicioSoapOut">
    <wsdl:part name="parameters" element="tns:salvarExercicioResponse" />
  </wsdl:message>
  <wsdl:message name="excluirExercicioSoapIn">
    <wsdl:part name="parameters" element="tns:excluirExercicio" />
  </wsdl:message>
  <wsdl:message name="excluirExercicioSoapOut">
    <wsdl:part name="parameters" element="tns:excluirExercicioResponse" />
  </wsdl:message>
  <wsdl:message name="pegarExercicioSoapIn">
    <wsdl:part name="parameters" element="tns:pegarExercicio" />
  </wsdl:message>
  <wsdl:message name="pegarExercicioSoapOut">
    <wsdl:part name="parameters" element="tns:pegarExercicioResponse" />
  </wsdl:message>
  <wsdl:message name="pegarExercicioExSoapIn">
    <wsdl:part name="parameters" element="tns:pegarExercicioEx" />
  </wsdl:message>
  <wsdl:message name="pegarExercicioExSoapOut">
    <wsdl:part name="parameters" element="tns:pegarExercicioExResponse" />
  </wsdl:message>
  <wsdl:message name="consultarObjetivoSoapIn">
    <wsdl:part name="parameters" element="tns:consultarObjetivo" />
  </wsdl:message>
  <wsdl:message name="consultarObjetivoSoapOut">
    <wsdl:part name="parameters" element="tns:consultarObjetivoResponse" />
  </wsdl:message>
  <wsdl:message name="consultarObjetivoExSoapIn">
    <wsdl:part name="parameters" element="tns:consultarObjetivoEx" />
  </wsdl:message>
  <wsdl:message name="consultarObjetivoExSoapOut">
    <wsdl:part name="parameters" element="tns:consultarObjetivoExResponse" />
  </wsdl:message>
  <wsdl:message name="salvarObjetivoSoapIn">
    <wsdl:part name="parameters" element="tns:salvarObjetivo" />
  </wsdl:message>
  <wsdl:message name="salvarObjetivoSoapOut">
    <wsdl:part name="parameters" element="tns:salvarObjetivoResponse" />
  </wsdl:message>
  <wsdl:message name="excluirObjetivoSoapIn">
    <wsdl:part name="parameters" element="tns:excluirObjetivo" />
  </wsdl:message>
  <wsdl:message name="excluirObjetivoSoapOut">
    <wsdl:part name="parameters" element="tns:excluirObjetivoResponse" />
  </wsdl:message>
  <wsdl:message name="pegarObjetivoSoapIn">
    <wsdl:part name="parameters" element="tns:pegarObjetivo" />
  </wsdl:message>
  <wsdl:message name="pegarObjetivoSoapOut">
    <wsdl:part name="parameters" element="tns:pegarObjetivoResponse" />
  </wsdl:message>
  <wsdl:message name="pegarObjetivoExSoapIn">
    <wsdl:part name="parameters" element="tns:pegarObjetivoEx" />
  </wsdl:message>
  <wsdl:message name="pegarObjetivoExSoapOut">
    <wsdl:part name="parameters" element="tns:pegarObjetivoExResponse" />
  </wsdl:message>
  <wsdl:message name="consultarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:consultarCliente" />
  </wsdl:message>
  <wsdl:message name="consultarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:consultarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="consultarClienteExSoapIn">
    <wsdl:part name="parameters" element="tns:consultarClienteEx" />
  </wsdl:message>
  <wsdl:message name="consultarClienteExSoapOut">
    <wsdl:part name="parameters" element="tns:consultarClienteExResponse" />
  </wsdl:message>
  <wsdl:message name="salvarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:salvarCliente" />
  </wsdl:message>
  <wsdl:message name="salvarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:salvarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="excluirClienteSoapIn">
    <wsdl:part name="parameters" element="tns:excluirCliente" />
  </wsdl:message>
  <wsdl:message name="excluirClienteSoapOut">
    <wsdl:part name="parameters" element="tns:excluirClienteResponse" />
  </wsdl:message>
  <wsdl:message name="pegarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:pegarCliente" />
  </wsdl:message>
  <wsdl:message name="pegarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:pegarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="pegarClienteExSoapIn">
    <wsdl:part name="parameters" element="tns:pegarClienteEx" />
  </wsdl:message>
  <wsdl:message name="pegarClienteExSoapOut">
    <wsdl:part name="parameters" element="tns:pegarClienteExResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastMsgError">
      <wsdl:input message="tns:getLastMsgErrorSoapIn" />
      <wsdl:output message="tns:getLastMsgErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="salvarTeste">
      <wsdl:input message="tns:salvarTesteSoapIn" />
      <wsdl:output message="tns:salvarTesteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarExercicio">
      <wsdl:input message="tns:consultarExercicioSoapIn" />
      <wsdl:output message="tns:consultarExercicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarExercicioEx">
      <wsdl:input message="tns:consultarExercicioExSoapIn" />
      <wsdl:output message="tns:consultarExercicioExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="salvarExercicio">
      <wsdl:input message="tns:salvarExercicioSoapIn" />
      <wsdl:output message="tns:salvarExercicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluirExercicio">
      <wsdl:input message="tns:excluirExercicioSoapIn" />
      <wsdl:output message="tns:excluirExercicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarExercicio">
      <wsdl:input message="tns:pegarExercicioSoapIn" />
      <wsdl:output message="tns:pegarExercicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarExercicioEx">
      <wsdl:input message="tns:pegarExercicioExSoapIn" />
      <wsdl:output message="tns:pegarExercicioExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarObjetivo">
      <wsdl:input message="tns:consultarObjetivoSoapIn" />
      <wsdl:output message="tns:consultarObjetivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarObjetivoEx">
      <wsdl:input message="tns:consultarObjetivoExSoapIn" />
      <wsdl:output message="tns:consultarObjetivoExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="salvarObjetivo">
      <wsdl:input message="tns:salvarObjetivoSoapIn" />
      <wsdl:output message="tns:salvarObjetivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluirObjetivo">
      <wsdl:input message="tns:excluirObjetivoSoapIn" />
      <wsdl:output message="tns:excluirObjetivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarObjetivo">
      <wsdl:input message="tns:pegarObjetivoSoapIn" />
      <wsdl:output message="tns:pegarObjetivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarObjetivoEx">
      <wsdl:input message="tns:pegarObjetivoExSoapIn" />
      <wsdl:output message="tns:pegarObjetivoExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarCliente">
      <wsdl:input message="tns:consultarClienteSoapIn" />
      <wsdl:output message="tns:consultarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarClienteEx">
      <wsdl:input message="tns:consultarClienteExSoapIn" />
      <wsdl:output message="tns:consultarClienteExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="salvarCliente">
      <wsdl:input message="tns:salvarClienteSoapIn" />
      <wsdl:output message="tns:salvarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluirCliente">
      <wsdl:input message="tns:excluirClienteSoapIn" />
      <wsdl:output message="tns:excluirClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarCliente">
      <wsdl:input message="tns:pegarClienteSoapIn" />
      <wsdl:output message="tns:pegarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pegarClienteEx">
      <wsdl:input message="tns:pegarClienteExSoapIn" />
      <wsdl:output message="tns:pegarClienteExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMsgError">
      <soap:operation soapAction="http://tempuri.org/getLastMsgError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarTeste">
      <soap:operation soapAction="http://tempuri.org/salvarTeste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarExercicio">
      <soap:operation soapAction="http://tempuri.org/consultarExercicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarExercicioEx">
      <soap:operation soapAction="http://tempuri.org/consultarExercicioEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarExercicio">
      <soap:operation soapAction="http://tempuri.org/salvarExercicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirExercicio">
      <soap:operation soapAction="http://tempuri.org/excluirExercicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarExercicio">
      <soap:operation soapAction="http://tempuri.org/pegarExercicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarExercicioEx">
      <soap:operation soapAction="http://tempuri.org/pegarExercicioEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarObjetivo">
      <soap:operation soapAction="http://tempuri.org/consultarObjetivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarObjetivoEx">
      <soap:operation soapAction="http://tempuri.org/consultarObjetivoEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarObjetivo">
      <soap:operation soapAction="http://tempuri.org/salvarObjetivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirObjetivo">
      <soap:operation soapAction="http://tempuri.org/excluirObjetivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarObjetivo">
      <soap:operation soapAction="http://tempuri.org/pegarObjetivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarObjetivoEx">
      <soap:operation soapAction="http://tempuri.org/pegarObjetivoEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCliente">
      <soap:operation soapAction="http://tempuri.org/consultarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarClienteEx">
      <soap:operation soapAction="http://tempuri.org/consultarClienteEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarCliente">
      <soap:operation soapAction="http://tempuri.org/salvarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirCliente">
      <soap:operation soapAction="http://tempuri.org/excluirCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarCliente">
      <soap:operation soapAction="http://tempuri.org/pegarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarClienteEx">
      <soap:operation soapAction="http://tempuri.org/pegarClienteEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastMsgError">
      <soap12:operation soapAction="http://tempuri.org/getLastMsgError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarTeste">
      <soap12:operation soapAction="http://tempuri.org/salvarTeste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarExercicio">
      <soap12:operation soapAction="http://tempuri.org/consultarExercicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarExercicioEx">
      <soap12:operation soapAction="http://tempuri.org/consultarExercicioEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarExercicio">
      <soap12:operation soapAction="http://tempuri.org/salvarExercicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirExercicio">
      <soap12:operation soapAction="http://tempuri.org/excluirExercicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarExercicio">
      <soap12:operation soapAction="http://tempuri.org/pegarExercicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarExercicioEx">
      <soap12:operation soapAction="http://tempuri.org/pegarExercicioEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarObjetivo">
      <soap12:operation soapAction="http://tempuri.org/consultarObjetivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarObjetivoEx">
      <soap12:operation soapAction="http://tempuri.org/consultarObjetivoEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarObjetivo">
      <soap12:operation soapAction="http://tempuri.org/salvarObjetivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirObjetivo">
      <soap12:operation soapAction="http://tempuri.org/excluirObjetivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarObjetivo">
      <soap12:operation soapAction="http://tempuri.org/pegarObjetivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarObjetivoEx">
      <soap12:operation soapAction="http://tempuri.org/pegarObjetivoEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCliente">
      <soap12:operation soapAction="http://tempuri.org/consultarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarClienteEx">
      <soap12:operation soapAction="http://tempuri.org/consultarClienteEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvarCliente">
      <soap12:operation soapAction="http://tempuri.org/salvarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluirCliente">
      <soap12:operation soapAction="http://tempuri.org/excluirCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarCliente">
      <soap12:operation soapAction="http://tempuri.org/pegarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pegarClienteEx">
      <soap12:operation soapAction="http://tempuri.org/pegarClienteEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:5435/SrvFitnessAcademiaGeral.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:5435/SrvFitnessAcademiaGeral.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>